@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
}

/* Aggiungi in fondo al file css */
@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
  }
  
  .animate-slide-in {
    animation: slideIn 0.3s ease-out forwards;
  }
  /* Nasconde le frecce di default degli input number (Chrome, Safari, Edge, Opera) */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Nasconde le frecce di default (Firefox) */
input[type=number] {
  -webkit-appearance: none; /* Per Chrome, Safari */
  -moz-appearance: textfield; /* Per Firefox */
  appearance: none; /* <--- AGGIUNGI QUESTA LINEA */
  margin: 0;
}